[submodule "applications/rtems_waf"]
	path = rtems_waf
	url = git://git.rtems.org/rtems_waf.git
[submodule "applications/stm32/blinky/waf"]
	path = applications/stm32/blinky/waf
	url = https://gitlab.com/ita1024/waf.git
[submodule "applications/waf"]
	path = waf
	url = https://gitlab.com/ita1024/waf.git
[submodule "applications/rtems_cmake"]
	path = rtems-cmake
	url = https://github.com/rmspacefish/rtems_cmake.git
[submodule "applications/stm32/lwip/rtems-lwip"]
	path = applications/stm32/lwip/rtems-lwip
	url = https://github.com/rmspacefish/rtems-lwip.git
