build
.lock*
.waf*

# It is assumed that the rtems toolchain is configured and built in this folder
toolchain/rtems
toolchain/backup
#toolchain/src

# Python ignores
.idea
!.idea/runConfigurations

# Eclipse
.settings
.cproject
.project
.pydevproject
!**/eclipse/.project
!**/eclipse/.cproject
!**/eclipse/.pydevproject
