[submodule "toolchain/src/rsb"]
	path = toolchain/src/rsb
	url = git://git.rtems.org/rtems-source-builder.git
[submodule "toolchain/src/rtems"]
	path = toolchain/src/rtems
	url = git://git.rtems.org/rtems.git
[submodule "applications/rtems_waf"]
	path = applications/rtems_waf
	url = git://git.rtems.org/rtems_waf.git
